.mainhc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25%;
}
.optionhc select{
    width: 10rem;
    height: 1.5rem;
    border: px solid #878787;
    background-color: #ebeaea;
    border-radius: 3px;
    text-align: center;
    margin-top: 1.2rem;
}
